html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Cairo:wght@200&family=Dancing+Script&family=Playfair+Display&family=Quicksand:wght@300&display=swap');


.App {
  text-align: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button-container {
  text-align: center; 
  margin-top: 10rem; 
}


.Header {
  position: sticky !important;
  background-color: #fff;
  color: black;
  height: 100%;
  top: 0;
  z-index: 100;
}
.top{
  top: 0;
}
.mar{
  margin-bottom: 42px;
}
.navbar-collapse {
  margin: 0;
  padding: 0;
}

.navbar.navbar-expand-lg .navbar-collapse {
  margin: 0 !important;
  padding: 0 !important;
 
}


.navbar {
  top: 0;
  background-color: #fff;
  color: black;
  z-index: 100;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.2);
}



.NavigationBar{
  text-align: center;/* I used this to align all text within the Navigation File, use this for next time when making a Navbar*/
  font-size: 1.3rem;
  text-decoration: none;
  background-color: #fff;
  top: 0;
  left: 0;
} 
.pad{
width: 100vw !important;
left: 0 !important;
}
.navtext {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #191919 !important;
  text-decoration: none;
}


.fa-star {
  color: #3dcd58;
}

.fa-youtube-play {
  color: #ff0000;
}

.fa-linkedin-square {
  color: #0077B5;
}

.fa-twitter-square {
  color: #1DA1F2;
}


.custom-links {
  color: #000 !important;
} 
.custom-links a {
  text-decoration: none;
  background-color: transparent !important;
  font-size: 1rem;
  color: #000 !important;
}

.custom-links a:hover {
  text-decoration: underline;
  color: #000;
}
.text{
  border-radius: 0px;
}
.navbar-nav .dropdown-menu{
  border-radius: 0;
}
.nav-link{
  margin-left: 10px;
}




.toggle {
  margin-right: 15px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #3dcd58;
  color: #fff;
  padding: 10px;
  text-align: left;
  text-decoration: none;
}

.footer-text {
  color: #fff;
  text-align: left;
  text-decoration: none;
}

.footer-text:hover {
  text-decoration: underline;
  color: #fff;
}

.footer-image {
  margin-right: 0;
  float: right;
  -webkit-transition: all 0.50s;
  transition: all 0.50s;

  &:hover {
    border: none;
    filter: brightness(105%);
    -webkit-filter: brightness(105%);
    -moz-filter: brightness(105%);
    -o-filter: brightness(105%);
    -ms-filter: brightness(105%);
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
  }
}


.navbar-scroll{
  margin-bottom: 0px !important;
}

.carousel{
  height: 50vh;
}
.banner{
  height: 20vh !important;
  width: 100vw !important;
  left: 0 !important;
  right: 0 !important;
  padding: 0 !important;
  margin-right: 0 !important;
  overflow: hidden;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.aboutasco{
  width: 100vw !important;
}
.section-title {
  font-size: 2.3rem;
  letter-spacing: 3px;
  background-color: #3dcd58;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 5px;
  text-align: start;
  position: relative;
}
.section-divider {
  font-size: 2.3rem;
  letter-spacing: 3px;
  background-color: #e4e4e4;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 8px;
  text-align: start;
  position: relative;
}
.about{
  width: 100vw !important;
}
.home{
  left: 0 !important;
  right: 0 !important;
  padding: 0 !important;
  margin-right: 0 !important;
  overflow: hidden;
  width: 100vw !important;
}

.quizzes{
  left: 0 !important;
  right: 0 !important;
  padding: 0 !important;
  margin-right: 0 !important;
  overflow: hidden;
  width: 100vw !important;
}
.asco{
  left: 0;
  right: 0;
  padding: 0 !important;
  margin-right: 0 !important;
  overflow: hidden;
}
.smaller {
  font-size: .65rem;
  text-align: start;
}
.smaller-pt {
  font-size: .7rem;
  text-align: start;
  margin-top: 5px;
}

.asco-logo {
  margin-left: 10px;
  -webkit-transition: all 0.50s;
  transition: all 0.50s;
  width: 13rem;

  &:hover {
    border: none;
    filter: brightness(130%);
    -webkit-filter: brightness(130%);
    -moz-filter: brightness(130%);
    -o-filter: brightness(130%);
    -ms-filter: brightness(130%);
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
  }
 }


.slide-text {

  color: #fff;
  justify-content: center;

}



.about-outlined-text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 2rem;
}
.outlined-text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  font-size: 2rem !important;
  font-weight: bolder !important;
}

.banner-text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-60%);
  text-align: center;
  color: #fff;
  font-size: 3.5rem !important;
}
.about-outlined-cap {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 1.5rem !important;
  
}



.custom-color {
  background-color: #f5f5f5;
}



.video-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-video-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.home-video-container iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.custom-youtube-video {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.custom-youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-slide-image {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  filter: brightness(40%);
}
.about-slide-image-home {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  filter: brightness(30%);
}
.welcome {
  color: #000;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 2rem;
  text-align: center !important;
  background-color: #fff;
  box-shadow: -9px 4px 5px 6px rgba(0, 0, 0, 0.5);
}

.quiz-welcome {
  color: #000;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1rem !important;
  text-align: center !important;
  font-weight: bolder !important;
  background-color: #ffffff;
}
.quiz-intruction{
  font-weight: lighter !important;
}
.quiz-cards:hover{
  transform: translateY(0px) scale(1.009) translateZ(10px);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px;
}

.timeline-title {
  color: #000;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.8rem;
  left: 0;
  right: 50% !important;
}

.year-size {
  font-size: 1.5rem !important;
}
.brief {
  font-size: 1rem;
}
.title{
  font-size: 1.5vw;
}
.text-white{
  font-size: 1rem;
}


.about-asco-text {
  color: #000;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.6rem;
  width: 100vw !important;
}

.fa-trademark{
  font-size: 1vw !important;
}
.custom-color-years {
  background-color: #3dcd58;
  box-shadow: -9px 4px 5px 6px rgba(0, 0, 0, 0.5);
}
.ascotime{
  left: 0;
  right: 0;
  margin: -5px;
}

.about-asco-text-years {
  color: #fff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.6rem;
  width: 100vw !important;
}

.slide-image {
  width: 100vw;
  height: 50vh !important;
  object-fit: cover;
  filter: brightness(30%);
  
}
.banner-image{
  width: 100vw;
  height: 20vh !important;
  object-fit: cover;
  filter: brightness(30%);
}


button {
  background-color: #3dcd58;
}



.card-subt {
  color: #3dcd58 !important;
}

.card-titles {
  font-size: 50px;
}

.abouttext {
  margin-top: 20px;
  font-family: 'Quicksand', sans-serif;
  text-align: start;
  font-size: 25px;
  
}

.toggle:hover {
  color: rgb(103, 150, 150);
}

.quotetext {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif;
  font-size: x-large;
  text-align: center;
  color: #3dcd58;
}

.btn1 {
  color: #fff;
  text-decoration: none;
  
}


.btn1:hover {
  color: #fff;
}

.homepagePic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}

.card {
  background-color: transparent;
  width: 96%;
  height: 40vh;
  perspective: 100px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  justify-content: center;
  align-items: center;
  border-radius: 20px !important;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5) !important;
  border-radius: 20px !important;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  text-overflow: ellipsis;
  border-radius: 20px;
}

.flip-card-front {
  background-color: rgb(232, 232, 232);
  color: #3dcd58;
  overflow: hidden;
  text-overflow: ellipsis;/* remember to use this for slide image text in carousel if I run into any problem*/
  text-size-adjust: inherit;/* remember to use this for slide image text in carousel if I run into any problem*/
  white-space: wrap;
  word-wrap: break-word;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-color: #3dcd58 !important;
  color: white !important;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardsButton {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #3dcd58 !important;
}

@media screen and (min-width: 1500px) {
  .about-outlined-text {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 3rem !important;
  }
  .outlined-text {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
      transform: translateY(-50%);
      text-align: center;
      color: white;
      padding: 10px;
      font-size: 3rem !important;
      font-weight: bolder !important;
    }
  }
  @media screen and (min-width: 992px) {
    .mar{
      margin-bottom: 52.5px;
    }
  }

@media screen and (max-width: 650px) {
.about-outlined-text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 1.5rem !important;
}
.outlined-text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 1.5rem !important;
  font-weight: bolder !important;
}
.banner-text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-60%);
  text-align: center;
  color: #fff;
  font-size: 2.5rem !important;
}
}
  @media screen and (max-width: 450px) {
    .about-outlined-text {
      font-family: 'M PLUS Rounded 1c', sans-serif;
      justify-content: center;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      text-align: center;
      color: white;
      padding: 10px;
      font-size: .8rem !important;
    }
    .outlined-text {
      font-family: 'M PLUS Rounded 1c', sans-serif;
      justify-content: center;
      text-align: center;
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      text-align: center;
      color: white;
      padding: 10px;
      font-size: .8rem !important;
      font-weight: bolder !important;
    }
    .banner-text {
      font-family: 'M PLUS Rounded 1c', sans-serif;
      justify-content: center;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      transform: translateY(-60%);
      text-align: center;
      color: #fff;
      font-size: 1.8rem !important;
    }
    }
    @media screen and (max-width: 314px){
      .mar{
        margin-bottom: 123.45px;
      }
    }