html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Cairo:wght@200&family=Dancing+Script&family=Playfair+Display&family=Quicksand:wght@300&display=swap');

.App {
  text-align: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
.main-content {
  flex: 1;
}

header {
  background-color: white;
  color: black;
  height: 100%;
  /* background-image: radial-gradient(red,rgb(0, 34, 255), yellow);
   */
}

footer {
  background-color: #3dcd58;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  margin-bottom: 0;
}

.section-title {
  font-size: 2rem;
  letter-spacing: 3px;
  background-color: #3dcd58;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.smaller{
  font-size: x-small;
  text-align: start;
  margin-top: 5px;
}

.asco-logo{
  
    -webkit-transition: all 0.50s;
    transition: all 0.50s;
    &:hover {
        border: none;
        filter: brightness(130%);
        -webkit-filter: brightness(130%);
        -moz-filter: brightness(130%);
        -o-filter: brightness(130%);
        -ms-filter: brightness(130%);
        -webkit-transition: all 0.50s;
        transition: all 0.50s;
    }
}


/* .asco-logo img:hover{
opacity: 0.5;
} */
.navtext {
  font-family: 'Quicksand', sans-serif;
  color: #3dcd58 !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.3rem;
  text-decoration: none;
}
.custom-link{
  color: #3dcd58 !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
  text-decoration: none;
}
#navDropdown{
  font-size: 1.25rem;
  color: #3dcd58;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-text{
  
  color: #fff;
  justify-content: center;
 
}
.slide-title{
  color: #fff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  /* font-family: 'Fuzzy Bubbles', cursive; */
}
.slide-image{
width: 100%;
height: 10vh;
object-fit: cover;
}

button{
  background-color: #3dcd58;
}
h3 {
  font-family: 'Cairo', sans-serif;
  color: black;

}

.abouttext {
  margin-top: 20px;
  font-family: 'Quicksand', sans-serif;
  text-align: start;

}

.toggle:hover {
  color: rgb(103, 150, 150);
}

.quotetext {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Nunito", sans-serif;
  font-size: x-large;
  text-align: center;
  color: #3dcd58;
}

.btn1 {
  color: #fff;
  text-decoration: none;

}


.btn1:hover {
  color: #3dcd58;
}

.homepagePic{
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.card{
    background-color: transparent;
    width:96%;
    height: 40vh;
    border: 1px solid black;
    perspective: 100px;
    margin: 0 auto; 
        float: none; 
        margin-bottom: 10px;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  justify-content: center;
  align-items: center;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display:flex;
  justify-content:center ;
  align-content: center;
  text-overflow: ellipsis;
} 

.flip-card-front {
  background-color: rgb(232, 232, 232);
  color: black;
  overflow: hidden; 
  text-overflow: ellipsis;
  text-size-adjust:inherit;
  word-wrap: break-word;
  display: block;

}

.flip-card-back {
  background-color: rgb(79, 182, 118) !important;
  color: white !important;
  transform: rotateY(180deg);
}

.cardsButton{
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}